<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Highlight Card -->
  <!-- <button class =" btn btn-primary">BUTTON</button> -->
<!-- <h1>{{title}}</h1> -->
<div class="header">
  <app-header></app-header>
</div>
<div class="main">
  <app-sample name = "Folks!!" age="25" loc="Pune"></app-sample>
  <app-sample name = "Welcome to Upskill" loc="Chennai"></app-sample>
  <app-sample></app-sample>
  <app-home></app-home>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>